certifi==2019.6.16
chardet==3.0.4
idna==2.8
importlib-metadata==0.18
inflect==2.1.0
irc==17.1
jaraco.classes==2.0
jaraco.collections==2.0
jaraco.functools==2.0
jaraco.itertools==4.4.2
jaraco.logging==2.0
jaraco.stream==2.0
jaraco.text==3.0
more-itertools==7.1.0
pytz==2019.1
requests==2.22.0
six==1.12.0
teambot==0.2.0
tempora==1.14.1
urllib3==1.25.3
zipp==0.5.2
